.navigation {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--darkest-grey);
  color: var(--darkest-grey);
}

.navbar-container {
  background-color: var(--darkest-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0rem 1.5rem 0rem 1.5rem;
}

.navigation-styling {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: 1em;
  background-color: var(--dark-purple);
}

.navibar-right-menu {
  width: 50%;
  height: 50%;
  color: var(--light-white);
  text-align: center;
  background-color: var(--dark-purple);
}

.navbar ul {
  list-style: none;
}

.navbar {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  min-height: 70px;
}

.navLink {
  color: var(--light-white);
}

@media (max-width: 767px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
  }

  .navbar-link:hover {
    text-decoration: none;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar li {
    width: 1024px;
  }

  .navbar {
    width: 1024px;
    margin: 0 auto;
  }
}

.fa-gear {
  color: var(--cool-color);
  font-size: 2.2em;
  cursor: pointer;
}

.navMenu {
  position: absolute;
  flex-direction: column;
  gap: 0;
  top: -100%;
  text-align: start;
  width: 100%;
  background-color: var(--darkest-grey);
  padding: 10px 15px;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-self: anchor-center;
  max-width: 1024px;
}

.navMenu.active {
  top: 70px;
  transition: 1s;
}

.navMenu li {
  width: 100%;
  margin: 16px 0;
}

.textAndSwitch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #e0e0e0;
}

.menu-label {
  color: var(--light-white);
}