@import url('https://fonts.googleapis.com/css?family=Anek+Devanagari');

/* Global styles */

body {
  font-family: 'Anek Devanagari', cursive;
}

footer {
  text-align: center;
}

footer a {
  color: var(--light-white);
  text-decoration: none;
}

footer a:hover {
  color: var(--light-white);
  text-decoration: underline;
  transition: 0.5ms;
}

.App-info {
  color: var(--light-white);
}

.page-header {
  padding-top: 8px;
  margin: 10px 0px 10px 0px;
  text-align: center;
  color: var(--light-white);
}

.page-info {
  margin: 12px;
  text-align: center;
  color: var(--light-white);
  padding: 12px;
}

.page-settings {
  max-width: 450px;
  word-break: break-word;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 15px;
}

.App {
  text-align: center;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.Content {
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: inline-grid;
  /* Use inline grid for the container */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* Maximum 3 boxes per row */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Form switch */

.form-switch {
  color: var(--light-white);
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.form-switch i {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
  background-color: #e6e6e6;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}

.form-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}

.form-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after {
  transform: translate3d(16px, 2px, 0);
}

.form-switch input {
  display: none;
}

.form-switch input:checked + i {
  background-color: var(--cool-color);
}

.form-switch input:checked + i::before {
  transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}

.form-switch input:checked + i::after {
  transform: translate3d(22px, 2px, 0);
}

/* Styling for the arrows */

.arrow {
  background-color: var(--light-white);
  color: var(--dark-grey);
  font-size: 1rem;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 23px;
  transition: 0.25s;
}

/* Styling for the right arrow when in "Tomorrow" */
.arrow.arrow-right-blue {
  background-color: var(--cool-color);
}

/* Styling for the left arrow when in "Today" */
.arrow.arrow-left-blue {
  background-color: var(--cool-color);
}

/* Styling for the date label */
.date {
  font-size: 1.2rem;
  margin: 0 10px;
  transition: 0.25s; /* Add a smooth transition for the date label */
}

/* Adjust the styling when the arrows are disabled */
.arrow[disabled] {
  visibility: hidden;
  background-color: var(--light-white);
  cursor: not-allowed; /* Change the mouse pointer to "not-allowed" for disabled arrows */
}

/* Mobile view adjustments */
@media only screen and (max-width: 920px) {
  .date-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .arrow.arrow-left-blue {
    float: left;
    margin-left: 15px;
  }

  .arrow.arrow-right-blue {
    float: right;
    margin-right: 15px;
  }

  /* Adjust the number of boxes per row for mobile view */
  .Content {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

/* Large
*/

/* Large screens (over 920px) */
@media only screen and (min-width: 921px) {
  /* Adjust the number of boxes per row for large screens */
  .Content {
    grid-template-columns: repeat(3, minmax(auto, 1fr));
  }
}

.faq-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px 15px; /* Added left and right margin */
  padding: 10px;
  color: var(--light-white);
}

.faq-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}


.faq-answer {
  margin-top: 10px;
}

.faq-item.open .faq-answer {
  display: block;
}

.FAQ {
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;

}

.arrow-up,
.arrow-down {
  width: 12px;
  height: 12px;
  transition: transform 0.3s;
}

.arrow-up {
  transform: rotate(90deg);
}


.faq-icon {
  display: inline-block;
  transition: transform 0.3s ease;
}

.rotate-right {
  transform: rotate(0deg);
}

.rotate-left {
  transform: rotate(-45deg);
}

.spin {
  animation: spin 0.3s ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
