@import url('https://fonts.googleapis.com/css?family=Anek+Devanagari');

body {
  font-family: 'Anek Devanagari', cursive;
}

footer {
  text-align: center;
}

.App-info {
  margin-bottom: 12px;
  color: #4f5258;
}

.page-header {
  margin: 12px;
  text-align: center;
  color: #4f5258;
}

.page-info {
  margin: 12px;
  text-align: center;
  color: #868686;
}

.App {
  text-align: center;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #10101d;
}

.Content {
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: inline-grid;
  /* Use inline grid for the container */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* Maximum 3 boxes per row */

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 920px) {
  .Content {
    max-width: 450px;
  }
  .page-info {
    max-width: 450px;
    word-break: break-word;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 15px;




  }

}