/* Switch Styling */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  border: 1px solid var(--dark-grey);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111;
  border-radius: 34px;
  transition: background-color 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.slider:before {
  content: '';
  height: 22px;
  width: 22px;
  background-color: rgb(235, 235, 235);
  border-radius: 50%;
  transition: transform 0.4s;
}

.slider i {
  color: #f1c40f;
}

.slider i.sun {
  order: 1;
}

input:checked + .slider {
  background-color: #555;
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-color: #111;
}

/* Dark Mode Adjustments */
.dark-mode .slider i {
  position: absolute;
  color: #f39c12;
}

.dark-mode .slider i.sun {
  order: -1;
}

.dark-mode input:checked + .slider {
  background-color: rgb(235, 235, 235);
}

body {
  --dark-grey: rgb(241, 241, 241);
  --light-white: #151a21;
  --darkest-grey: #fff;
}

body.dark-mode {
  --dark-grey: rgb(21, 26, 33);
  --light-white: rgb(235, 235, 235);
  --darkest-grey: #111;
}

body {
  background-color: var(--dark-grey);
  color: var(--light-white);
}