body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-grey);
}

:root {
  --darkest-grey: #111;
  /*dark-grey: #141414;*/
  --dark-grey: #151a21;
  --dark-purple: #10101d;
  --light-white: rgb(235, 235, 235);
  --static-light-white: rgb(235, 235, 235);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
