
/* Box Styles */
.restaurant-box {
  opacity: 0;
  transition: opacity 0.5s ease;
  position: relative;
}

.restaurant-box.loaded {
  opacity: 1;
  max-width: 600px;
  border-radius: 8px;
  padding: 20px;
  margin: 0 15px 15px 15px;
  background-color: var(--cool-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ul-left {
  text-align: left;
}

.not-found {
  color: rgba(255, 255, 255, 1);
}

.menu-day {
  margin: 0;
  padding: 10px;
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
}

@media only screen and (max-width: 350px) {
  .restaurant-box.loaded {
    margin: 0; /* Remove side margins for narrow screens */
  }
}

/* Header Styles */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Icon Styles */
.toggle-icon {
  position: absolute;
  right: 10px;
  font-size: 1.5em;
  color: lightgray;
}

.pinned {
  font-size: 1.5em;
  color: #fcca07;
  position: absolute;
  top: 10px;
  left: 10px;
}

.unpinned {
  font-size: 1.5em;
  color: lightgray;
  position: absolute;
  top: 10px;
  left: 10px;
}
